/*Content*/

body{
	/*background-color:#343434;*/
	background-image: url('fond-site.jpg');
	float:left;
	padding-left: 5px;
	padding-right: 5px;
	overflow: scroll;
	
}

#content{
	text-align: left;
	font-family: sans-serif;
	font-size: 18px;
}

#button{
	padding-left:250px;
}

#team{
	text-align: left;
}

#imgteam{
	padding-left:150px;
}

#xid{
	text-align:center;
	font-family: sans-serif;
	font-size:18px;
	font-weight: bold;
}

#ddlserveur{
	text-align:left;
}
